// color vars
$primary-font: "Segoe UI";
$text-size: 19px;
$secondary-font: "Segoe UI Black";
$menu-font: "Clear Sans";
$text-color: #fff;
$hover-color: #e6362c;
$dark-primary-color: #0f1041;
$accent-color: linear-gradient(179.13deg, #244A4D 0.72%, #19373F 99.25%);
$mm_padding: 10px;

$laptop-breakpoint: 1400px;
$tablet-breakpoint: 1200px;
$mobile-breakpoint: 767px;

