<div class="c-client-section">
    <h4>НАМ ДОВІРЯЮТЬ</h4>
    <div class="c-client-section_slider">
        <div>
            <img src="images/logo/logo_Remak.svg" alt="Remak">
        </div>
        <div>
            <img src="images/logo/logo_Reflex.svg" alt="Reflex">
        </div>
        <div>
            <img src="images/logo/logo-KG.svg" alt="KG">
        </div>
        <div>
            <img src="images/logo/logo_Kermi.svg" alt="Kermi">
        </div>
        <div>
            <img src="images/logo/logo_Remak.svg" alt="Remak">
        </div>
        <div>
            <img src="images/logo/logo_Reflex.svg" alt="Reflex">
        </div>
        <div>
            <img src="images/logo/logo-KG.svg" alt="KG">
        </div>
        <div>
            <img src="images/logo/logo_Kermi.svg" alt="Kermi">
        </div>


        <!--        <img src="images/logo/logo_Remak.svg" alt="Remak">-->


        <!--        <img src="images/logo/logo_Reflex.svg" alt="Reflex">-->


        <!--        <img src="images/logo/logo-KG.svg" alt="KG">-->


        <!--        <img src="images/logo/logo_Kermi.svg" alt="Kermi">-->

        <!--        <img src="images/logo/logo_Remak.svg" alt="Remak">-->


        <!--        <img src="images/logo/logo_Reflex.svg" alt="Reflex">-->


        <!--        <img src="images/logo/logo-KG.svg" alt="KG">-->


        <!--        <img src="images/logo/logo_Kermi.svg" alt="Kermi">-->


    </div>
</div>