<div class="footer-logo">
    <a href="#"> <img src="images/logo/logo_footer.svg" alt="footer-logo"></a>
</div>
<nav>
    <ul class="footer-nav">
        <li><a href="#">КОМПАНІЯ</a></li>
        <li><a href="#">ПРОДУКЦІЯ</a></li>
        <li><a href="#">РІШЕННЯ</a></li>
        <li><a href="#">ПІДТРИМКА</a></li>
        <li><a href="#">ПИТАННЯ ТА ВІДПОВІДІ</a></li>
        <li><a href="#">КОНТАКТИ</a></li>
    </ul>
    <!-- /.footer-nav -->
</nav>
<div class="footer-networks">
    <a href="#"><img src="images/icons/icon-facebook.svg" alt="footer-logo"></a>
    <a href="#"> <img src="images/icons/icon-youtube.svg" alt="footer-logo"></a>
</div>
<div class="footer-copyright">
    <span> © TREVENT, 2019. Дизайн розробляли ONCA</span>
</div>


