<header class="c-header nav-container">

    <div class="c-header_logo">
        <a href="#"><img src="images/logo/logo-header.svg" alt="Logo"></a>
    </div>
    <a href="#mobile-menu" class="hamburger hamburger--minus">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
    </a>
    <!-- /.c-header_wrapper -->
    <div class="c-header_wrapper">
        <div class="c-header_contact">
            <a href="#" class="icon-phone">
                <img src="images/icons/icon-phone.svg" alt="phone">
            </a>
            <div class="c-header_contact-wrap">
                <small>ГРАФІК РОБОТИ: 09:00-18:00</small>
                <ul class="c-header_contact-phone">
                    <li class="has_submenu">
                        <span><a href="#">(098) 86 900 25</a></span>
                        <ul class="submenu">
                            <li><a href="#">(098) 86 900 25</a></li>
                            <li><a href="#">(098) 86 900 25</a></li>
                            <li><a href="#">(098) 86 900 25</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="c-header_language">
            <li class="has_submenu">
                <span><img src="images/icons/icon-ukraine.svg" alt="search"><a href="#">UA</a></span>

                <ul class="submenu">
                    <li><a href="#">EN</a><img src="images/icons/icon-ukraine.svg" alt="search"></li>
                    <li><a href="#">PL</a><img src="images/icons/icon-poland.svg" alt="search"></li>
                    <li><a href="#">RU</a><img src="images/icons/icon-russia.svg" alt="search"></li>
                </ul>
            </li>
        </ul>
        <nav class="mobile-menu" id="mobile-menu">
            <ul>
                <li><a href="/">ГОЛОВНА</a></li>
                <li><a href="/">КОМПАНІЯ</a></li>
                <li><a href="/about/">ПРОДУКЦІЯ</a>
                    <ul>
                        <li><a href="/about/history/">Документація</a></li>
                        <li><a href="/about/team/">Питання та відповіді</a></li>
                        <li><a href="/about/address/">Відео та мультимедія</a></li>
                    </ul>
                </li>
                <li><a href="/about/">ПІДТРИМКА</a>
                    <ul>
                        <li><a href="/about/history/">Документація</a></li>
                        <li><a href="/about/team/">Питання та відповіді</a></li>
                        <li><a href="/about/address/">Відео та мультимедія</a></li>
                    </ul>
                </li>
                <li><a href="/contact/">КОНТАКТИ</a></li>
            </ul>
        </nav>
        <!-- /.mobile-menu -->
        <nav class="c-header_menu">
            <ul id="c-header_menu-nav" class="c-header_menu-nav">
                <li class="current"><a href="#">ГОЛОВНА</a></li>
                <li><a href="#">КОМПАНІЯ</a></li>
                <li class="has_submenu has_submenu-full-width">
                    <span><a href="#">ПРОДУКЦІЯ</a></span>
                    <ul class="submenu submenu-product">
                        <li><a href="#">Документація</a></li>
                        <li><a href="#">Питання та відповіді</a></li>
                        <li><a href="#">Відео та мультимедія</a></li>
                    </ul>
                </li>
                <li class="has_submenu has_submenu-full-width">
                    <span><a href="#">ПІДТРИМКА</a></span>
                    <ul class="submenu submenu-help">
                        <li><a href="#">Документація1</a></li>
                        <li><a href="#">Питання та відповіді2</a></li>
                        <li><a href="#">Відео та мультимедія3</a></li>
                    </ul>
                </li>
                <li><a href="#">КОНТАКТИ</a></li>
                <li class="c-header_icon-search">
                    <a href="#new-project__form" class="popup-with-form">
                        <img src="images/icons/icon-search.svg" alt="search">
                    </a>
                    <form id="new-project__form"
                          class="mfp-hide white-popup-block search-form animate__animated animate__backInDown">
                        <h1>Пошук</h1>
                        <fieldset style="border:0;">
                            <ol>
                                <li>
                                    <label for="search"> <i class="icon-search"></i> </label>
                                    <input id="search" name="search" type="text"
                                           placeholder="Пошук по сайту" required="">
                                </li>
                            </ol>
                        </fieldset>
                    </form>
                </li>
            </ul>
            <!-- end #c-header_menu-nav -->
        </nav>
        <!-- end #nav-wrap -->
    </div>
    <!-- /.c-header_wrapper -->
</header>

