<div class="c-hero-section_icons">
    <div class="c-hero-section_icons-item">
        <img src="images/icons/icon-diamond.svg" alt="diamond">
        <h4>ЯКІСТЬ</h4>
        <p>Обладнання складається
            з комплектуючих
            європейського рівня.</p>
    </div>
    <div class="c-hero-section_icons-item">

        <img src="images/icons/icon-protect.svg" alt="protect">
        <h4>ГАРАНТІЯ</h4>
        <p>Продукти Trevent мають
            24 місяці гарантії.</p>

    </div>
    <div class="c-hero-section_icons-item">

        <img src="images/icons/icon-gear.svg" alt="gear">
        <h4>ПІДТРИМКА</h4>
        <p>Кваліфікований персонал
            завжди готовий допомогти.</p>

    </div>
    <div class="c-hero-section_icons-item">

        <img src="images/icons/icon-tech.svg" alt="tech">
        <h4>ТЕХНОЛОІГЯ</h4>
        <p>Використовуються сучасні
            технології та матеріали.</p>
    </div>
</div>