<div class="c-hero-section_slider">
    <div class="c-hero-section_slider-item">
        <img src="images/bg/hero-bg.png" alt="Fan">
        <div class="c-hero-section_slider-text">
            <h4>ПРОМИСЛОВЕ</h4>
            <h1>Кліматичне
                Обладнання</h1>
            <p>Працює з кращими постачальниками комплектуючих
                з усього світу, розробляє обладнання стандартного і
                не стандартного виконання.</p>
            <button class="slider_btn primary-btn">ДЕТАЛЬНІШЕ</button>
        </div>
        <!-- /.hero-section_slider-text -->
    </div>

    <div class="c-hero-section_slider-item">
        <img src="images/bg/hero-bg.png" alt="Fan">
        <div class="c-hero-section_slider-text">
            <h4>ПРОМИСЛОВЕ</h4>
            <h1>Кліматичне
                Обладнання</h1>
            <p>Працює з кращими постачальниками комплектуючих
                з усього світу, розробляє обладнання стандартного і
                не стандартного виконання.</p>
            <button class="slider_btn primary-btn">ДЕТАЛЬНІШЕ</button>
        </div>
        <!-- /.hero-section_slider-text -->
    </div>

    <div class="c-hero-section_slider-item">
        <img src="images/bg/hero-bg.png" alt="Fan">
        <div class="c-hero-section_slider-text">
            <h4>ПРОМИСЛОВЕ</h4>
            <h1>Кліматичне
                Обладнання</h1>
            <p>Працює з кращими постачальниками комплектуючих
                з усього світу, розробляє обладнання стандартного і
                не стандартного виконання.</p>
            <button class="slider_btn primary-btn">ДЕТАЛЬНІШЕ</button>
        </div>
        <!-- /.hero-section_slider-text -->
    </div>

    <div class="c-hero-section_slider-item">
        <img src="images/bg/hero-bg.png" alt="Fan">
        <div class="c-hero-section_slider-text">
            <h4>ПРОМИСЛОВЕ</h4>
            <h1>Кліматичне
                Обладнання</h1>
            <p>Працює з кращими постачальниками комплектуючих
                з усього світу, розробляє обладнання стандартного і
                не стандартного виконання.</p>
            <button class="slider_btn primary-btn">ДЕТАЛЬНІШЕ</button>
        </div>
        <!-- /.hero-section_slider-text -->
    </div>


</div>
<!-- /.hero-section_slider -->

