<div class="c-products-section_header">
    <h4>ПРОДУКЦІЯ</h4>
    <p class="animate-text">Використання електрики в якості джерела нагріву отримало свою популярність в деяких
        випадках. Такі рішення
        застосовують для реалізації системи опалення в умовах, де немає можливості підключення традиційного теплоносія
        (води) або де системи опалення планується використовувати тимчасово.</p>
</div>
<!-- /.c-products-section_header -->
<div class="c-products-section_items">
    <div class="c-products-section_items-item">
        <img src="images/items/product-item_1.png" alt="protect">
        <div class="c-products-section_items-item-header">
            <h4>ВОДЯНІ <br> ТЕПЛОНОСІЇ</h4>
        </div>

        <div class="c-products-section_items-item_hover-content animate__animated animate__flipInX">
            <img src="images/icons/icon-fan.svg" alt="protect">
            <h4>ЕЛЕКТРИЧНИЙ НАГРІВ</h4>
            <p>Використання електрики в якості
                джерела нагріву отримало власну
                популярність в деяких випадках. </p>
            <button class="primary-btn">ДЕТАЛЬНІШЕ
            </button>
            <div class="hover-content_bg"></div>
        </div>
    </div>
    <div class="c-products-section_items-item">
        <img src="images/items/product-item_2.png" alt="protect">
        <div class="c-products-section_items-item-header">
            <h4>ПОВІТРЯНІ <br> ЗАВІСИ</h4>
        </div>

        <div class="c-products-section_items-item_hover-content animate__animated animate__flipInX">
            <img src="images/icons/icon-fan.svg" alt="protect">
            <h4>ЕЛЕКТРИЧНИЙ НАГРІВ</h4>
            <p>Використання електрики в якості
                джерела нагріву отримало власну
                популярність в деяких випадках. </p>
            <button class="primary-btn">ДЕТАЛЬНІШЕ
            </button>
            <div class="hover-content_bg"></div>
        </div>
    </div>
    <div class="c-products-section_items-item">
        <img src="images/items/product-item_3.png" alt="protect">
        <div class="c-products-section_items-item-header">
            <h4>КАМЕРИ <br> ПРИПЛИВУ</h4>
        </div>

        <div class="c-products-section_items-item_hover-content animate__animated animate__flipInX">
            <img src="images/icons/icon-fan.svg" alt="protect">
            <h4>ЕЛЕКТРИЧНИЙ НАГРІВ</h4>
            <p>Використання електрики в якості
                джерела нагріву отримало власну
                популярність в деяких випадках. </p>
            <button class="primary-btn">ДЕТАЛЬНІШЕ
            </button>
            <div class="hover-content_bg"></div>
        </div>
    </div>
    <div class="c-products-section_items-item">
        <img src="images/items/product-item_3.png" alt="protect">
        <div class="c-products-section_items-item-header">
            <h4>КАМЕРИ <br> ПРИПЛИВУ</h4>
        </div>

        <div class="c-products-section_items-item_hover-content animate__animated animate__flipInX">
            <img src="images/icons/icon-fan.svg" alt="protect">
            <h4>ЕЛЕКТРИЧНИЙ НАГРІВ</h4>
            <p>Використання електрики в якості
                джерела нагріву отримало власну
                популярність в деяких випадках. </p>
            <button class="primary-btn">ДЕТАЛЬНІШЕ
            </button>
            <div class="hover-content_bg"></div>
        </div>
    </div>
</div>
<!-- /.c-products-section_header -->