.footer {
  text-align: center;
  color: #4d4d4d;

  &-logo {
    margin-top: 76px;
    margin-bottom: 32px;
  }

  &-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 27px;


    li {
      a {
        transition: all 0.7s ease;

        &:hover {
          color: $hover-color;
        }
      }
    }

    @include media(tablet) {
      justify-content: space-between;
      padding: 0 15px;
    }
    @include media(mobile) {
      flex-direction: column;
    }

    li {
      margin-right: 61px;
      @include media(tablet) {
        margin-right: 0;
      }
      @include media(mobile) {
        margin-bottom: 10px;
      }

      a {
        color: #4d4d4d;
        @include media(tablet) {
          font-size: 14px;
        }
      }
    }
  }

  &-networks {
    margin-bottom: 28px;

    img {
      margin-right: 14px;
    }
  }

  &-copyright {
    margin-bottom: 66px;
  }
}
